## AUGUST 14, UNIFIED YEAR 1927, IMPERIAL CAPITAL

I like to think of Tanya as an upstanding modern citizen who understands commonly accepted ethics and social norms. To word it differently, while I am a social animal, I am also fully aware of the precariousness that comes with being a part of society.

Instead of a suit, I don my uniform, and instead of a project proposal, I bring a battle plan. Today I won't be presenting at the headquarters of my old company but at the nerve center of Tanya's current employers-the General Staff Office. I accent my outfit not with a necktie but with a variety of medals and badges.

When all is said and done, the essence of my work isn't all that different from my old job.

I still need to head to the main office to request permission for the implementation of a new project. In terms of power balance, I'm still on the side that has to bow down. As if this wasn't unpleasant enough already... And to make things worse, I'm here selling a plan I don't actually want to be a part of to superiors who don't want to hear about it.

One may wonder why it has to be this way. And to that, I say: It's rather simple. Unfortunately, for all parties involved, the market has stopped functioning properly, forcing workers to perform meaningless tasks for miserable wages.

Be that as it may, I still have a job to do. It's important to do your work, after all.

I swallow a sigh and don my cap as I get ready. The written report I'm carrying needs to be signed by the commander of the Kampfgruppe, Colonel Lergen, so I knock on his door.

"It's Lieutenant Colonel Degurechaff. I have an appointment with the..."

Before I can get out colonel, the door opens. A group of clerks comes pouring out. They grab the report out of my hands as they tell Colonel Lergen and me to come along.

We follow the group to a military vehicle sitting outside the General Staff Office. Without any idea of what's happening... we pile inside and are promptly whisked off to an unfamiliar government building.

If I was feeling generous, I'd describe the structure as avant-garde. The reality is that it's basically a concrete building that was designed to be easy to construct first and everything else second-a gem of modern architecture.

In the capital, this building is known as none other than the Foreign Office, the agency tasked with the handling of all foreign affairs.

Or-as all other agencies view it-a cozy nest of deadbeats. no one really knows what the people inside have been up to ever since the war broke out.

While soldiers are doing far more work than their salaries can justify, I feel compelled to ask what on earth are these freeloaders doing?

I almost want to scream, Do your damn jobs! at the top of my lungs in frustration, but I digress.

This is the Foreign Office we're dealing with here. Had they been engaging in diplomacy like they were supposed to, our country probably wouldn't be on the verge of collapse after such a prolonged war.

The lion's share of the responsibility for this mess falls on their shoulders. And that's putting it lightly; their negligence is on the level of war crimes at this point. If I were in charge of this country's HR, let's just say they would be on an actual chopping block. What a nightmare it is when the wrong people are doing the wrong jobs!

Diplomacy is all about people.

If there was even a single Bismarck in today's Empire, I'd probably be sitting happily in my office right now, enjoying military benefits for the rest of my peaceful life.

At the very least, we wouldn't be stuck in an unwinnable war.

In the sacred privacy of my mind, I complain about the state of my nation's diplomacy before something dawns on me.

It seems obvious now that I think about it. An Empire that has no Bismarck and no idea how to conduct diplomacy competently is doomed. There was no chance of them winning this war from the very beginning.

As I pass through empty halls of the Foreign Office building with Colonel Lergen, I can't ignore the ostentatious paintings that line its walls.

They're a series of works that tell the story of the Empire's illustrious past. The paintings depict the nation's founding, famous victories, and acts of heroism, whether it be the charge of a knight or a score of private citizens who banded together to drive away foreign invaders. It frightens me to think someone went out of their way to hang these oil paintings, each a crystallization of the nation's pride. It bears noting that this is the Empire's Foreign Office.

... Sadness wells up in my chest.

If this were an army building, it would be a different story. For the military, taking pride in historic triumphs and extolling the nation's strength is a way to maintain morale. Not that there would ever be a need for such a thing-the members of the General Staff Office are ardent realists.

"Sir."

"Yes, Colonel?"

Without putting too much thought into it, I grab my superior's attention.

"The Foreign Office sure seems proud of our nation's martial prowess. Almost to the point that they want to show it off to visitors more than we do."

I'm looking at a painting of a girl, who represents the Empire, vigorously striking down the other nations of the world in a piece that's supposed to depict our nation's founding.

The young maiden towers over her enemies, sword in hand. It's a mighty fine work of art-if they're doing their damnedest to intimidate any foreign dignitaries.

If that's deliberate, then it could just be an entertaining part of gunboat diplomacy.

But the situation is beyond dire if the Foreign Office is hanging these without any thought. It suggests that they don't understand the point of decorating their building in the first place. I don't know how much the painting is worth, but as someone who doesn't subscribe to the romanticism behind the foundation of the Empire, it's a hard piece to swallow.

"About that, Colonel..."

"Don't worry, sir. I'll watch my tongue in front of the diplomats."

I know what is and isn't appropriate in social settings. But just as I grimace internally, my superior says something surprising as a grimace also appears on his face.

"Actually, Colonel, we're about to meet with a counselor named Conrad. I think you should be up front with him about an opinion like that."

"So you want me to let him have it with some army logic?"

"It's the opposite. He sees things the way we do. Unlike his predecessors... I wager he'd be delighted to hear what you have to say about the state of things."

"Well, well."

This diplomat sounds like an intelligent man who can handle some healthy criticism. He must have a good head on his shoulders. To think there's still some sane people left in the capital! As jealous as I am that he gets to work in the rear where it's nice and safe, there's a part of me that also feels for the man. It must be difficult working in this strange place.

What's it like to be a rational foreign diplomat for a country that may or may not win a war? It is rare for me to feel sorry for others. Colonel Lergen and I continue down the hall until we reach Counselor Conrad's office.

The first thing I see can only be described as culture.

The counselor had gone out of his way to pour us tea with his own two hands.

How polite of him. Or maybe it's just a way for him to mask the lackluster taste of their cheap tea... Suspicions aside, I'm in a decent mood-that is, until we sit down at the meeting table.

The first words that escape Counselor Conrad's lips as my superior and I take our seats cut like a dagger.

"Can we win this war? I want to hear your thoughts on the matter. I'm asking you frankly, so I hope you can be frank with me as well."

His question floors us. The moment he brings up the Empire's war prospects, both Tanya's and Colonel Lergen's faces become sullen enough for their entire Kampfgruppe.

Victory. What a loaded word. I can't help but wonder just how many people out there in the world know its meaning and yet ponder its definition.

Victory is like an illusion. The Empire is trapped in a dream where the promise of victory must be kept at all costs.

It's like a curse. Nothing is crueler than a dream that will never come true.

That one word is enough to get a groan from anyone in the military who knows the state of the Empire's war front. To their great frustration, even entertaining the idea of defeat is inconceivable.

The Imperial Army is but one part of the nation-state known as the Empire. Its collective memory and culture are rooted in the shared experiences of the greater whole.

In other words, the Imperial Army is an organization forged from victory and valour. While the military may suffer the off defeat here and there on the battlefield, their collective memory is dominated by the glorious myth that the Empire was always destined to win in the end. This has been both a blessing and a curse.

Victory is seen as a result for the Empire and its army. It's simply considered the result of their military initiatives always coming to fruition.

How can a nation fight a war for this long if they don't believe they will win? That's doubly true for an army that has never lost a war!

Even the majority of officers are still convinced that they'll win eventually. They believe in the ultimate victory because it justifies all the losses they've suffered so far.

It is the simplicity of Counselor Conrad's question that makes it so difficult for Colonel Lergen to answer.

A patriot like him could never admit that the resources we've poured into this war are all for naught.

He hasn't been inoculated against defeat. But how many could claim they had? Everyone tells themselves that it's impossible for the foundation of the Empire to crumble in a single night. What's the alternative when ever-present fear is suffocating and the consequences of failure are so dire?

It's a nice white lie to avoid total collapse. Or perhaps it's simply to hide from the truth. It doesn't matter in the end. What does matter is that when asked whether the Empire can win, there's only one answer Colonel Lergen can give. And that answer is Yes, we can.

"Is something wrong, Colonel? I'd like to hear your honest opinion."

The counselor stares at Lergen. The fact that the man is questioning the reality of the situation makes it hard for the colonel to answer.

As a man of the military, it's unusual for him to beat around the bush. This is what makes it impossible for him to put together a coherent response. Defeat is a forbidden word. It's not something he can bring up so easily. It's clearly causing him a tremendous amount of distress.

He just can't say it-he can't even open his mouth. Tanya, on the other hand... is completely unaware of the silent mental anguish of the man next to her. For Tanya, it's a question that she would politely answer simply because she was asked. Maybe her willingness to do so was simply in the spirit of service.

Without putting too much thought into it, she formally answers the man's question in what she considers to be good faith.

"Counselor Conrad, is this something you truly need to know?"

"Lieutenant Colonel Degurechaff?"

The counselor makes a strange face at her, but for Tanya, this is all just a part of dealing with clients. It's important to make sure people really want to hear the truth of how dire a given situation is before you give them your honest opinion.

"Could you ask us one more time? The question, I mean."

"Okay, I'll say it again. Can we win this war? I, a diplomat, would like to hear your professional opinions as people who work directly with and within the General Staff Office. Please let me know what you think."

Counselor Conrad's confirmation couldn't be any clearer. That was all Tanya needed.

She wouldn't have answered the man's question until it was put in such undeniable terms.

With a twisted smile, Tanya finally felt free to give her scathing analysis on the matter.

"It's impossible. I can say without a doubt that we will not win."

"Wh-what are you...?"

"I'm being straight with you. You're barking up the wrong tree if you're expecting a win from the military. This war is out of our hands."

It's important to be up front about products your company doesn't carry. That's the basics of business.

She knows not having what people ask for can be... disappointing, but you don't have what you don't have, and no amount of wishful thinking can change that.

Nevertheless, she keeps her tone and demeanour calm. Smiling is the first and most important part of dealing with clients.

Follow-through is also crucial. Taking the time to explain your professional opinion when someone asks for it is the best foundation for building trust.

This is why Tanya embodied a straight-shooting specialist to answer the counselor's question.

"You can believe what the con artists and zealots are saying in the newspapers if you wish. But if you want me, a logical soldier, to tell you we can achieve a complete victory, then you're dreaming."

If they could win this war, the idea of a job change would've never even crossed Tanya's mind. Sadly, not unlike Japan during World War II, the Empire is a sinking ship.

Anyone with the slightest aptitude for analysis could only tell you the glaring truth-that the country is on its last legs.

"... Have you lost your mind?"

"No, Counselor."

Tanya remains calm and lets him in on the terrible news.

"I'm simply providing you truthful advice."

"Truthful? So, what, is that supposed to make you an honest broker or something?"

"If you need me to be."

Counselor Conrad shakes his head.

"This is ridiculous. A mere lieutenant colonel thinks they're qualified to predict the outcome of the war? And a child at that? I would think twice before speaking so boldly."

The first one to respond to Counselor Conrad's words wasn't Tanya but the man sitting next to her, Colonel Lergen.

As a fellow serviceman, he felt compelled to interject.

"Counselor, let's not forget that looks can be deceiving. I know she is young, but Lieutenant Colonel Degurechaff is one of our most decorated soldiers. Until just recently, she was a force to be reckoned with on the front lines. I will admit she can have an extreme way of wording things..."

"That seems a bit over-the-top, no?"

The urge to correct the man's rather rude assessment came over Tanya. It appeared the problem was that he didn't know who was offering him a frank opinion.

Obviously, that would be resolved if she took a moment to let him know who he was dealing with. While the fact that her record didn't speak for itself outside of her country was unfortunate... the medals that lined her collar did all the talking she needed within the Empire's borders.

"Silver Wings Assault Badge, Field Assault Badge, Wound Badge, Trench Action Badge First Class, Close Combat Clasp Special Class, Iron Cross First Class..."

Tap, tap, tap... Tanya points to all her medals, one by one.

Awards carry weight at a company. They mean even more in the army. They're certainly more than enough to earn the respect of a fellow countryman.

"Do these look over-the-top to you? I'm also a Named. I feel I'm at least as qualified as the next person to talk about the state of the war."

Confident in her prowess on the battlefield, Tanya had no reservations in using her accolades to win the man over.

I'm not the type to let organization choose me-I'll be the one doing the choosing. A lack of presentable achievements would only force Tanya to make unpleasant comprises down the line. Who would voluntarily do something so idiotic? It's a simple matter of letting the man know her true worth.

The last thing I want is for the market to evaluate Tanya as some nobody who can't pull her weight.

"My first battles were in Norden. I then became a platoon leader on the Rhine front. After a brief stint in the war college, my next stop was Dacia, where I was placed in charge of an aerial magic battalion. After that, I returned to the Rhine, where I took part in Operation Revolving Door. Then I saw some action in the south before being rapidly redeployed for a key assault on the Federation front..."

Diligence, integrity, and an impeccable record.

These were what made Tanya von Degurechaff who she was, and she had done more than enough to prove her worth on the battlefield.

It's certainly more than enough to get an accurate market valuation. This is something to be proud of.

"If you have an issue with my record, feel free to take it up with the General Staff Office. They should be able to provide you with a more thorough record that will prove beyond a doubt that I'm not some random little girl who's never stepped foot on the battlefield."

A bit overwhelmed, Counselor Conrad backs down a bit before Colonel Lergen takes the reins on the conversation.

"... As you can see, looks aren't everything. As I'm sure you can understand now, while Lieutenant Colonel Degurechaff may seem young, her fangs are among the sharpest in the army." Colonel Lergen adopts a reserved tone as he continues, "Regarding youth, you're in a rather similar situation yourself, aren't you, Counselor? And I mean that with the utmost respect."

Though a disrespectful notion to point out, the man sitting across from them laughs.

"This is war. I know how it is. Anything goes. Sometimes it can be hard to keep that in mind."

The tension visibly drains from his shoulders as he brings one hand to his head and reaches for a cigarette with the other before quietly lighting up. It's clear he can tell when he's been beaten.

"By the way, Lieutenant Colonel, I must ask. Is there a trick to being able to muster up the courage to say such bold things? Something to stop yourself from worrying about the criticism you may face afterward?"

Tanya laughs off Counselor Conrad's legitimate question with a light no. The counselor seemed shocked by her response, but was there really anything so bewildering about it?

"I've always thought of humans as the type of creatures that will look for any excuse to criticize one another."

"Counselor, it's simple, really. I don't need words to prove my bravery. I've already done that on the battlefield."

For Tanya, military exploits are a wonderful thing. no one can dispute them, and simply pointing at them can silence quite a lot of criticism. In other words, success on the battlefield earns you the right to speak back in the homeland.

This was the same for sales. no one would bat an eye at the top salesperson clocking out early.

"I still haven't met anyone who dared to call me a coward or question my sense of duty."

"So the brave have the right to speak their minds... I see. You're an interesting person, Lieutenant Colonel. So give it to me straight. Do you really think that the war is a lost cause?"

"I do. I'm sure of it."

Colonel Lergen slumps a bit in his seat as he hears his subordinate announce their country's inevitable fate.

On the other side of the table, though, Counselor Conrad flashes a big grin. Not only is he smiling but the man is practically at the edge of his seat. He stares at Tanya with bright eyes almost to the point that it's disturbing.

"What's your reasoning?"

"Can the Empire take on the entire world and win? The Federation, the Commonwealth, and now the Unified States are joining forces against us. We also can't ignore Ildoa. Oh, and let's not forget the faraway land of Akitsushima. They may jump in at some point as well."

We're dealing with all the world powers and possibly even more.

When all is said and done, even if the Empire wields a mighty sword known as the Imperial Army, it isn't as if the rest of the world is unarmed. Tanya doesn't need to wait and see to know which side will emerge victorious.

"Forget looking at a map. It's a numbers game at this point. There are too many enemies for us to handle."

Tanya continues as Counselor Conrad nods with delight.

"This is beyond the realm of military theory... It's all about leveling out the playing field. We weren't diligent enough early on when it came to limiting the number of counties we're fighting."

It's important to speak theoretically. Treating personal conclusions and conjecture as fact is for cultists and con artists. In the real world, the most important thing to consider is universal laws. I consider it unpatriotic for a rational, upstanding citizen such as myself to not back up my assertions with rigorous theory.

"You shouldn't even need to look at the balance of power in numerical terms. It should be obvious at a glance. A single country is fighting on four different fronts."

It was indeed unheard of.

"I see. So that's why our predecessors favored the interior lines doctrine in the hopes of defeating our enemies in detail."

Tanya shakes her head as she emits an overt sigh.

"Unfortunately, that strategy was originally set in motion with the goal of amassing a great army to speedily and efficiently win a select few decisive battles. It was never meant to be used against the entire world."

The generals at the start of the war found a small path forward they could follow to do the impossible, but it was more or less an insurance policy in case they lost strategically. Why was this strategy being used to defend the country on the whole? The answer is quite simple: The strategy had been created under the assumption we would be attacked; the planners never dreamed that it would be used outside the Empire's borders.

"The interior lines strategy is like an insurance policy for if we're ever attacked. Insurance is exactly that-insurance. It's something you pay for but hope you never have to use."

Do people who pay for life insurance do so in hopes that they'll die? What kind of idiot sits there and thinks, Oh, I'd better get cancer so I can capitalize on my health insurance?

For anything less than insurance fraud, it makes absolutely no sense.

"The Empire has made a mistake. We've been thinking about this all wrong. It's like losing a healthy fear of death because you have great life insurance. Not only that, the insurance policy isn't even that good to begin with, considering how much we're paying for it."

"Wait, Lieutenant Colonel." With a curious expression about him, Counselor Conrad voices his doubt about one thing. "Are you insinuating that we've wasted our resources? We've accomplished quite a lot as a nation."

"Since the onset of the war, we've repeatedly won key battles against enemy forces, but none of them were decisive enough to bring an end to the war. Even our stunning victory on the Rhine went to waste because we didn't know what to do with it..."

Operation Revolving Door created François Republic refugees and solidified the endless nature of the current war. I'm confident this can't be considered an effective use of resources. Money that has been spent on life insurance is more or less pissed away. It won't be long before the Empire doesn't have enough money to pay for its basic necessities.

"To make matters even worse, it's becoming more and more difficult to maintain our dominance and force concentration. In the most extreme cases, we have lost the ability to reliably secure local superiority for even brief periods of time."

Tanya slaps her hand down on the desk between them as she continues to spell out the terrible truth.

"Even if Ildoa remains neutral, we simply have too many enemies."

The country is barely scraping by and has been in this quagmire for far too long. It's only a matter of time before time runs out.

If Tanya was the Empire's lender, she would have cut them off without a second thought. Any hope for them to come out on top is virtually nonexistent. The country's plummeting at terminal velocity, and I would bet that there'll be more than a few defectors in the coming days.

The things that decide the fate of a country were not all that dissimilar to what decide the fate of a company.

Time and money are everything.

If one of the two dries up, then the endeavour is brought to a screeching halt.

"Once we start falling down the hill... all that's left to do is continue falling. If we press on with this war like we have been, we'll only create more enemies for ourselves."

Opportunists won't make their move until they're sure the time is right.

In this regard, Ildoa has taken one of the wiser positions in the world. They're willing to maintain relations with the Empire despite its unfavourable position in the war. It guarantees their sales of war matériel, fuel, and other highly demanded resources-not to mention the occasional wine or coffee bean.

This friendly relationship won't last long once the Empire's impending defeat becomes readily apparent.

Anyone who thinks the Ildoans would even hesitate when the time comes to turn on the Empire are the same sort of people who believe their company will remain unchanged after it's been sold to new management.

The new reality will destroy the old world. This leaves the Empire in a position where it needs to be prepared for anything that might happen.

Trying to be ready for literally every possibility is the same as trying to be perfect-impossible. Even trying would simply result in an inability to prepare for a single thing. Claiming you can do anything is the same as saying you can't do anything well.

"The result? Our country has its hands full just keeping itself stable and lacks a concrete plan to get out of this war. It has been a long time since victory on the battlefield has held any real strategic meaning. At this rate, it's all but impossible."

"Can I ask a question, Lieutenant Colonel? What makes our victory impossible? With the correct strategy, could a series of decisive victories not potentially lead to winning the war?"

The counselor's asking a loaded question. He may be smart... but it's obvious that he doesn't know the current state of the front lines. Almost makes me want to laugh at the picture propaganda had painted in this country.

"Sadly, I believe we're out of time."

The counselor tilts his head in confusion, clearly thinking, What do you mean? He needs it spelled out for him. Colonel Lergen quietly grows more agitated. He's obviously wondering how much clearer it could be that the Empire already doesn't have a moment to spare...

"Do you need me to be more straightforward? Our country is on the verge of bankruptcy. Nothing we do on the battlefield will buy us an extension."

"And?"

"Winning battles only prolongs our inevitable defeat due to our strategic disadvantage."

"I'm asking what your point is, Lieutenant Colonel."

What's not to get? This man is dense to the extent where it's borderline ridiculous. Tanya hesitates for a moment as she starts to feel suspicious. It's obvious that the counselor is an intelligent man given the conversation leading up to this moment.

So why is he being so... elusive about coming to this conclusion?

"Counselor, I don't know how you couldn't know this already, but allow me to inform you... we're already losing the war on the strategic front."

"What I'm asking is why you don't try and figure out a way to overturn said disadvantage."

Strategy must defeat strategy. It makes sense to focus on strategy when it comes to breaking free from this bind.

The reality is that the current situation is very much like trying to put water back in a cup after it's already been spilled.

"Do you think we're in a position to even try?"

"Is that a reason not to try nonetheless, Lieutenant Colonel?"

"That's unreasonable. We have already tried, and we couldn't think of anything. Did you think otherwise?"

No, wait... Could it be that he's rejecting his nation's defeat with his heart and not his mind? Searching for some way to win must be his way of escaping reality. So even someone as intelligent as this man refuses to face reality despite having played this game for so long!

Upon coming to this chilling realization, Tanya takes the conversation a step further.

"It's true that a comeback would require a strategic victory, but-as unfortunate as it may be-the military is putting all its resources into merely staying afloat on multiple fronts. Counselor, we must prepare for the worst."

"And by that you mean...?"

"You'll be hard-pressed to find an officer who, with confidence, claims we'll win the war. The military should either line their academic advisors up in front of a firing squad or praise them for the boundless fighting spirit they've instilled in their officers." Tanya then adds her two cents as well. The man asked for her professional opinion, after all. Think of it as a form of customer support. "If it's a matter of my own opinion, I believe officers need to be intellectual. Therefore, a firing squad seems like the apt choice to make here."

I can feel two pairs of nihilistic eyes honing in on me. Even Colonel Lergen is staring after that remark.

Though the counselor is at a loss for words for a moment, he eventually speaks up.

"The desire to use such draconian measures must be due to your youth, Lieutenant Colonel."

"Well, no, Counselor. It's simply born from my desire to fulfill my duty in preventing an epidemic."

"An epidemic, you say?"

"The inability for soldiers to face reality on the battlefield is a form of incompetence. Is there anything more dangerous than an officer who isn't fit for their position? Fear is an ally to the incompetent. It's something more frightening than even the most formidable enemies."

These words are what eventually set him off.

"So we need to face reality, eh... Ha-ha-ha-ha-ha-ha-ha! Yes, that's it! It's about time we woke up from our little daydream!"

His laugh, which starts scornfully, begins to take on a hysteric tone. Lergen and Tanya stare, startled by the man who's raking both his hands through his now dishevelled hair, laughing all the while like a maniac.

A strange sight to behold.

Well, strange to see off the battlefield, at least. Based on personal experience, I figure this is the result of too much stress. Breakdowns are fairly common on the front lines, where soldiers become worn down both physically and mentally.

It's always a difficult thing to watch-someone losing their composure and showing the dark emotions they bottled up inside...

I feel for the counselor. The illogical event known as war has evidently eaten away at Counselor Conrad's reasoning.

In any case, it's awkward to be in the same room as someone suffering a mental breakdown. Thankfully, this isn't a trench and the counselor doesn't have a weapon, or else Tanya would have shot him right then and there... Hopefully there's no need to subdue the man.

It wouldn't look good on paper, considering their respective positions. Albeit an imperial soldier, Tanya is still an outsider to the Foreign Office, so there would be hell to pay if she had to get physical. If push came to shove, there was no way for it to end well. It would undoubtedly have an immense negative impact on her reputation. Liability is definitely a concern of hers, so it's worth war-gaming. Would it be better to just grab Colonel Lergen and make a beeline for the door? Definitely not out of the question when considering the potential repercussions.

She glances at the door. It seems like it would give under pressure. All I'd need to do next is fireman carry Colonel Lergen out of here... No, better create optical dummies to confuse the counselor first. Tanya almost imperceptibly sits forward in her seat so she can make her move at any moment as several scenarios play out in her mind.

This series of calculations ends up being for naught.

With a loud curse, Counselor Conrad sits back in his chair and crosses his legs while looking tiredly at the ceiling above.

Pressing his fingers against the corners of his eyes, he asks Tanya and Lergen a question.

"Colonel Lergen, Lieutenant Colonel Degurechaff. Please forgive me. That was embarrassing." The counselor lowers his head and pointedly turns to Colonel Lergen. "Now that we've got that out of the way, there's something I want you to tell me... How in the hell did you raise this?"

Tanya pauses, as being called this doesn't sit entirely well with her. Colonel Lergen has a different reaction, however. He gives a deep nod as if to show the depth of his agreement with the counselor.

"She was born this way. If we could mass-produce Degurechaffs, the Empire would have blown Moskva and Londinium off the map with a single aerial magic battalion long ago."

That's a compliment, right? I think so...? Let's interpret the comment as flattery and a bit of an overstatement.

"I think I see what you mean. But the thought doesn't sit very well with me. Such a warlike notion is lost on civilians such as myself."

The counselor stares at the ceiling with tired eyes. This is the moment Colonel Lergen decides to say something unexpected.

"My apologies, Counselor Conrad. Considering your career, would I be wrong in assuming you have experience as a second lieutenant?"

A year of conscription service is considered a fundamental part of learning about the world. In the Empire, this is especially common for children brought up in higher-class families. Had Tanya not been born an orphan, it's the career path she would have expected and wanted.

This was the basis of Colonel Lergen's question, but it's met with a wry laugh.

"I was a second lieutenant in name only. I never saw the Rhine or the eastern front. I spent the year studying military etiquette in the barracks."

A lieutenant in name only-his service as an officer was nothing more than a rite of passage for a young man about to become a formal member of society. In other words, he's your typical Junker.

Someone Tanya was jealous of-someone who left the service while there was still peace.

"It's probably better if you didn't have so much faith in me. I'm humble enough to not pretend I know what I'm talking about."

The two military personnel both fought the urge to express their desire for the leadership to have the same humility.

Had he a single iota of this, the war would've played out much differently.

From an expert's perspective, there's nothing worse than a person of middling intelligence who thinks they know everything about any given subject.

Tanya peruses the catacombs of her mind for the right words. She throws out a phrase a diplomat would use.

"Reconciliation is our only way out of this. And it needs to happen fast."

She looks Counselor Conrad in the eyes.

His blue eyes stare straight back, and it seems like her words are effective. Tanya's resolve was clear in her suggestion, and they share a brief but intense gaze before the diplomat lets up.

He sighs and peers back up at the ceiling.

It's possible he didn't realize it, but he's been shaking his leg.

"Reconciliation, reconciliation, reconciliation..."

He repeats the word three times before lighting a cigar. With the same blank gaze, he scratches his head while he takes a drag.

A thick plume of smoke streams from his mouth.

Just as the smoke starts to bother Tanya, Counselor Conrad finally speaks up again.

"If a field officer feels this strongly about it, then it must be true."

"I understand the army's desire to resolve the war with reconciliation. Considering the current circumstances... it's a prudent idea. That's precisely what we should do."

It's hard to understand these diplomats at the best of times.

They're always so vague and obscure, always beating around the bush, always taking care with their words but never saying anything of substance. Clarity and conciseness-you can't be a soldier without either.

Colonel Lergen shakes his head next to a bewildered Tanya.

"Counselor, the key issue here is our enemies. How will they receive such a proposal?"

"What makes you ask that?"

The counselor stares in confusion with a blank look on his face.

Colonel Lergen hesitatingly answers, "Because we're not in a position to make demands?"

"Colonel, that's what I'm not understanding. Is that not why we need to reconcile?"

"That's correct. But this is where your people come in, after all..."

Counselor Conrad brings his hands together with a clap, interrupting Colonel Lergen. He readjusts his cigar and, after taking a few puffs, begins to speak again.

"Colonel Lergen, you need to be more consistent with communication within the military. The way I see it... No, wait."

"And by this, you mean?"

Counselor Conrad looks past a perplexed Colonel Lergen at Tanya, who has remained silent up until that very moment.

He's wearing a roguish grin.

Tanya couldn't miss it. The diplomat must've picked up on the discrepancy. The difference between the conditional reconciliation proposed by Colonel Lergen and the white flag proposed by Tanya.

"The little devil next to you to is suggesting we beg for peace. Am I wrong?"

Aware of the fact that she's being scrutinized, I bark a sharp laugh on the inside. If Tanya weren't a soldier, she would've screamed, You're damn right!

But I am a professional. I understand perfectly what the diplomat was getting at. And moreover, I feel calm.

I almost admire the diplomat Conrad. How did the Empire ever get itself into such dire straits with a diplomat this capable?

As I mentally pay him my respects, I address the elephant in the room.

"I'm in no position to gainsay how this fine Foreign Office wishes to label its diplomacy."

And the same could be said about Tanya, as the diplomat's eyes made it clear that he had reached the same conclusion as she had.

"Incredible. Truly impressive, Colonel Lergen."

Things like this always came down to being able to understand the same language-a lingua franca.

How delightful it is to be able to treasure the same things.

Even more delightful is the fact that he has an invitation ready. Counselor Conrad is staring at Tanya with eyes so full of enthusiasm that it would have made even the most seasoned HR rep jealous.

"What do you think about working at the Foreign Office after you leave the military? I know it's looked down upon, but I'm ready to write a recommendation letter to vouch for you." An accurate evaluation, a courteous attitude, and a proper request. Invitations don't get much better than this! Counselor Conrad could see that Tanya's cheeks are ready to burst at their seams and turns up the heat to seal the deal. "If that's the case, I believe I can push this through. What do you say, Lieutenant Colonel Degurechaff? It's your decision to make..."

"It's an honor to receive such a generous offer."

Tanya bows her head as a gesture of genuine gratitude. This is the moment Colonel Lergen, who looks like he just swallowed a stink bug, decides to interject.

"Counselor, please stop headhunting General Staff Office personnel."

"There's always a demand for capable workers. Especially during a war like this. Do you find it strange we both desire the same things?"

It's a somewhat bitter exchange, but Counselor Conrad relents with a smile and a lighthearted chuckle.

"Anyway, enough with the banter. Let's get back on topic. What are the army's desired terms for a reconciliation? Where do you want the Empire to stand when the dust has settled?"

"We don't know."

Colonel Lergen's curt response wipes the smile right off Counselor Conrad's face. He furrows his brow slightly while clutching his cigar in his mouth in a way to make his dissatisfaction and displeasure apparent.

"Let's stop with the jokes, Colonel."

"Trust me, Counselor-this is no joke."

Listening from the sidelines, it seems to me that everything the counselor said checks out. He should have access to any and all classified information. Though diplomats are technically civilians, there is a clear need for him to know what the military's ultimate intentions are, considering his position. Though the military does operate on a strict need-to-know basis when it comes to information sharing, the counselor is well within his bounds to make his request.

That's when it suddenly dawns on me.

Oh, is that what's going on? The counselor isn't the problem here-it's me.

Though I'm technically a member of the staff, the nation's geopolitical interests are a bit above the pay grade of a magic lieutenant colonel. Perhaps the way my superiors treated me had finally gone to my head.

Having realized the mistake, I embarrassingly interject.

I can only hope my boss doesn't think that I'm some clueless officer after such a blunder. All that time I spent on the front lines must have dulled my senses. To think I'd ever make such a mindless mistake! Quietly excusing yourself is one of the most basic techniques a good worker should know how to do...

Perhaps I've lost my edge after all these years.

I hurriedly rise from my seat when the colonel abruptly says, "No, you're fine where you are."

Caught off guard by Colonel Lergen's comment, I freeze while halfway out of my seat.

Turning to my superior, I give him a blank look.

Did I make a mistake...? I can't come up with a single reason to explain why Tanya should be allowed to sit in on this conversation. Colonel Lergen certainly wouldn't jeopardize his access to such information by sharing it with her.

What's going on?

"Lieutenant Colonel, this is something... you would probably rather not know."

I still have no idea what he's alluding to and have little choice but to wait as my superior begins speaking with a solemn tone.

"Let's see. Where should I begin? Counselor, what I'm about to tell you is by no means a secret. Therefore, please understand that, in a way, it's far more serious."

Well, that definitely doesn't sound good.

I have a terrible feeling about what I'm about to hear. Now I almost want to leave, but I fight back that urge with the understanding that this is probably something I should hear.

"Listen with caution."

After one look at Counselor Conrad, who has his chin drawn slightly back, I adjust my posture as I brace myself.

Little did Colonel Lergen know that what he was about to say was almost as explosive a bomb as the one Tanya had dropped on the counselor only moments earlier.

"It wouldn't be much of an exaggeration to say that, in a certain sense, the General Staff Office, Supreme High Command, and the government are all of the same opinion."

"What? That's an awfully strange disclaimer. If it's such common knowledge, then one can't help but wonder how we don't know about it yet."

"Counselor, it's the opposite. It's the complete and utter opposite."

His strange wording strikes me as odd, and this is when I first notice something. This is Colonel Lergen's way of avoiding an issue. He seems calm on the surface, but there's no missing the hesitation and inner turmoil lurking just behind his words. This isn't likely something Counselor Conrad would have been able to pick up on. After all, why would he? On the surface, even to Tanya, who has spent so much time at Colonel Lergen's side, the man seems to be his usual self.

That's quite the mask he has on. Is this the fortitude you need to work in the homeland?

If I didn't know how much the General Staff officers stressed keeping things concise... I probably never would've been able to recognize this ironclad poker face of his for what it is.

"Colonel Lergen, I must request that you explain yourself."

Counselor Conrad makes his demand as he fishes out another cigar. This time, the colonel finally acquiesces.

"Do you really want to know?"

"Of course I do, Colonel. Please indulge me."

"Very well." There's a strange sense of peace about Colonel Lergen as he takes out a cigarette and puts it in his mouth. He smokes for a short while; then along with a puff of cigarette smoke, he hit them with a nasty revelation.

"There is no consensus. The only thing everyone can agree on is that there is a complete lack of consensus between the General Staff, Supreme High Command, and the government."

The only consensus is that there is no consensus.

Oh, the irony!

Colonel Lergen continues spitting out this awful joke while Tanya and the counselor listen in mute shock.

"You want to know the nation's consensus in regard to a reconciliation? You won't find a single person who could possibly answer you. You'd be lucky to find someone who's even thought about it."

Tanya finally raises her voice.

"But that shouldn't be possible. Does the army not even have guidelines in situations like this? They haven't considered it as an organization at all?!"

With a solemn face, Colonel Lergen shakes his head. For Tanya, who's learning of this for the first time, the fact that he could sit there so calmly is beyond comprehension.

"What is the General Staff Office even doing?!"

"Lieutenant Colonel, I've explained this to you before. We are soldiers, and thus, as soldiers, we-"

Tanya cuts him off, rejecting her superior outright.

"With all due respect sir, soldiers may be just that-mere soldiers-but even so, this is ludicrous! I can't see how we wouldn't at least consider the idea?!"

This isn't a conversation that needs to be had multiple times. It's something Tanya had been pointing out for a while now.

Something that she'd tried to communicate to the other General Staff officers in every conceivable way possible.

And yet, she had to say it again.

"Why don't my words reach anyone? Why doesn't anything ever change?"

It appeared, though, that Colonel Lergen had his own thoughts about Tanya's display of apprehension. He ostentatiously blew a big billowing puff of nicotine and tar, then replied with a distant look on his face.

"Lieutenant Colonel, as someone in the same organization... let me tell you what you're doing wrong."

"You need to coat the bitterest of pills with sugar. And you can't be stingy with it, either."

"That doesn't make sense during wartime. We converted all our sugar beet fields into potato fields long ago. Where am I supposed to get all the sugar I'd need?"

"There aren't many like you who can swallow the bitter pill that is reality. This is especially true during a war, where people throw common sense out the window. Unfortunately... this is reality."

Tanya finds herself staring at the ceiling as she listens to a tired colonel give her tired words of advice.

I'm frankly at my wit's end. It's a trial to learn your country's deepest, darkest secrets. I'm really beginning to regret staying in the room.

"Just incredible!" I exclaim as it dawns on me that my career meant nothing from the start. Who can blame me for grumbling a bit?

The fact of the matter is that the Empire isn't even functioning properly at this point. Their checks could bounce at any moment. It's baffling. My country is essentially dipping into revolving credit because they lack the cash to settle their debts.

This is absurd. You don't take a loan out to buy groceries. Rights are rights, even if it's the right to be negligent. But that principle goes right out the window when your country is trying to fight a war on advance loans.

I want to vomit. The sheer incompetence, stupidity, and pointlessness-it's hard to describe how revolting this all is. The foolishness of individuals is part and parcel of having freedom. Idiocy is allowable in the name of diversity.

But stupidity at the national level? Unforgivable. A nation-nay, an organization-needs to be an institution founded on and grounded in logic. If the brains up top are rotten to the core, then there's no hope of saving the body.

"We can't win this war without diplomacy! How do you expect to reconcile with the state we're in now?!"

What do the people in the field want?

There's no way to know. The Empire could win ninety-nine times, but it would all be washed away by a single defeat in the hundredth battle. I don't want to end up like Xiang Yu. I don't want to serve Liu Bang, but I want to stay aboard a sinking ship even less.

"We're running out of manpower on the front lines. The societal foundation upon which the Empire's limitless potential was based has been all but pissed away, and there isn't a single sign of it being built back up! To think the military would use our future as fuel for today's fire. It seems the sun is moments from setting on the Empire."

To be honest, it isn't a problem for a company to lose its incapable employees. There's always more where they came from. But speaking from experience as an HR rep, I know that one of the biggest problems for any organization is that talent tends to leave, starting with the people you want to keep the most.

S-rank employees are usually the first to go, followed closely by the members of the A-rank, which eventually leaves the B-rankers in control. At this point, the company would be running on pure inertia from having once been a strong player.

Tanya needs to get out as soon as the chance presents itself. Unfortunately, her success within the Imperial Army is only recognized internally.

This makes it difficult for any of her country's competitors to judge her accurately. As a result of the war, talented labor cannot freely move from workplace to workplace. This is the worst sort of failure a market can suffer. This is why nothing good could ever be born from dictatorships.

By this point, Tanya is finding it hard to keep her nausea at bay. This whole thing is absurd. Just like that damned Being X. Unlike a world that rests in the invisible hands of a higher being, the most this world has is the dirty paws of Being X. Truly, what a nightmare.

Unable to contain that anger, Tanya began to speak out again.

"This is supposed to be our nation's raison d'état? It must be some sort of terrible joke-!"

With an expression that contains both sympathy and disapproval, Counselor Conrad cuts off Tanya's grumbling.

"Calm yourself, Lieutenant Colonel. Have you forgotten your manners...?"

The ruthless way he spoke made him seem more reliable in my eyes. I smile in grim approval.

He admonished Tanya, completely forgetting his own episode from earlier. This is the sign of a man who could separate his work from his emotions. What's more, he has the intelligence to argue his points logically. This is the most important thing I look for in a coworker. It's a sign that I could work without worrying about extra stress.

I'm sure I'd enjoy working under this man as much as I do under Lieutenant General Zettour. Gritting my teeth, I hope the conversation will take a turn for the good as I fix my gaze on the counselor and sit back down.

His eyes are cold and calculating.

Behind a curtain of formality and etiquette, there is a levelheaded intelligence. That is all I can ask for. Those are the eyes of someone I can do business with.

"Counselor, I need you to understand the price the army, my subordinates, and I have paid during this war."

"Say no more. How about it, Lieutenant Colonel Degurechaff? I feel like now that we're quite familiar with each other-" Counselor Conrad slowly leans forward in a way that suggests he has no intention of letting Tanya elude his question and continues with a grin, saying, "-I think it's about time you start telling me how you really feel."

He doesn't care for being roundabout and oblique. It's clear he wants to do away with the smoke and mirrors and hear what Tanya really has to say.

That makes this the perfect chance for Tanya to take the initiative and ask him what she really wants to know.

"We'll do whatever we can. We'll pay the price that will get the best possible result. So there is one thing I want to know-what do you want from us?"

This is the question on everybody's mind that no one is willing to answer. What do the shot callers want from the people on the front lines? How could anything get done if they didn't know the answer to this? How much more explicit could we be?

"There needs to be a reason for negotiations to start. After all, even the best diplomacy can go south if the timing isn't just right."

I almost slap my knee in agreement-I'm impressed. Running a country is no different from running a company. Different challenges call for different solutions.

Everything needs to be stated in clear and simple terms.

"... So you want us to decide the timing?"

"How is General Zettour's maneuver warfare holding up in the east? I hear he's fared well against the Federation's unrelenting onslaught."

That much is true-the work of the soon-to-be general is nothing short of a miracle. General Zettour, the con artist, is currently leading the Federation into traps up and down the entire theater of war.

"I'll be the first to admit that the Federation is very good at learning. It's almost frightening how fast they pick things up. Nevertheless, General Zettour is a ruthless instructor. Their textbooks will be marred with tears for a bit longer."

This probably seems like a bold statement coming from a mere lieutenant colonel, but for a General Staff officer, being called ruthless is a sort of compliment. It's what most General Staff officers strive for.

"The Federation must be racking up heavy tuition fees considering how much they're learning through both experience and General Zettour's lessons. Though it may not be enough to salvage the Empire's economy, I believe it could still be useful as investment for a new venture."

"You'll need to tack on a few more digits for any hope of that, Lieutenant Colonel."

The counselor waves his hand in the air with a sad look about him.

"We don't need a minor victory in the east. Not to discount the work of our soldiers over there, but simply winning battles isn't going to get us out of this. Victories can't be used in negotiations..."

I can't even begin to express my gratitude to the man before telling him how I really feel.

"Then we need to take it one step further." The two listen to Tanya's words and watch in silence as she presses on. Colonel Lergen still has a sense of detachment about him, and Counselor Conrad seems... uncomfortable? Tanya shakes her head. Everything that needs to be confirmed has been confirmed. At this point, it's a lot like deploying the battalion. Once the important decisions have been made, all there's left to do is follow through.

It's time to fire my shot.

"If we must accept our dire circumstances, then why not embrace them fully? How about getting down on our hands and knees and pleading for an armistice?"

"... That's impossible, Lieutenant Colonel. As a diplomat, I know this for a fact. That's something we'll never be able to do."

"Why?"

Tanya's question is muffled by an exasperated sigh from Counselor Conrad.

"The nation wouldn't survive it."

"Any missteps after we lose could lead to the country imploding regardless. Instead of waiting idly for our eventual destruction... a truce is the safer option for our people, even if it means bankruptcy."

"This isn't a question of logic, Lieutenant Colonel. It's about the Reich. The Reich doesn't know defeat."

The counselor sounded both proud and depressed as he explained. I can't help but agree. I think of the Reich as a deadly illness-its symptoms could be seen even in the hallways of the Foreign Office, in those paintings that detailed the Empire's glorious past.

The Empire is grand and powerful... The idea that our nation always marches while hoisting the flag of victory is too set in stone.

"The Reich... has built its society on the institution of victory."

Counselor Conrad squeezes out another sigh; his mental anguish has apparently found its way to his lungs.

"A defeat would completely obliterate this foundation of eternal victory. It would cut the country down at the knees."

The reasoning he expresses with his strained voice isn't something I can accept without a fight. Not only that, but from the perspective of a soldier like Tanya, the very idea is utterly disgusting.

"It's as if the Reich is a child who thinks they're invincible. Probably one close to my age."

"That's hard to hear coming from you. However, I also feel fear and revulsion, not to mention an instinctual rejection toward the notion that there's absolutely no way for the Empire to come out of this victoriously."

"... That's honest of you, Counselor. Your bravery deserves respect."

In response to Tanya's argument, a troubled Counselor Conrad turns his attention to the ceiling again.

"Colonel Lergen, I'm truly astounded. I must pay my respects to the military. As surprising as it is, this lieutenant colonel has a clear view of reality."

Why is Tanya being complimented all of a sudden?

Changing your perception of reality has no effect on actual reality.

In a similar vein, using a magical formula allows you to manipulate natural phenomenon and thus influence reality, but is still a far cry from bending the world to your will.

The world is the world. Making do with what you have is an important part of living in it.

"Hesitation is useless when it comes to facing the real world. Does anyone still feel there's a need for me to apologize for not packing it in a nice sugarcoated pill?"

"No."

"No."

Counselor Conrad and Colonel Lergen both deny the need for such an apology.

Watching their reactions inspires another realization. The two of them are speaking in tandem, like there's a mirror sitting right between them. A good sign that these two would probably work well together.

Even more noteworthy is how Counselor Conrad's expression relaxes as he gives a satisfactory nod. His mood seems to have improved slightly. I can sense genuine joy and relief welling up inside him.

"Then it's simple. In order to save the Empire-and for the sake of our own happiness-I'd like for the army to start fighting while keeping rapprochement in mind and in a way that will satisfy our people."

I consider the diplomat's proposal for a moment.

"That's a massive contradiction."

He wants to carry on with the war to end the war? It sounds completely ridiculous, though the true absurdity is how the country ended up in this position in the first place.

"It's better than simply chasing victory, Lieutenant Colonel."

"I guess war is, after all, an extension of politics..."

Tanya shakes her head and sighs.

If it wasn't for the harshness of the reality we're dealing with, this conversation would have been rather enjoyable! But there's no sugarcoating a terminal illness!

The intellectual elite of the Empire have to be convinced to accept the ultimate contradiction!

It smacks of taking out a loan for a get-rich-quick scheme despite being deep in debt. Why does it seem like we're trying to pay our debts by winning the lottery?

Is it just me or is the world around me getting darker?

If nothing else, this conversation with Colonel Lergen and Counselor Conrad has convinced me of one thing: This ship is already sinking.

I almost feel sad. Who knew it was this difficult to suppress the urge to retch... Everything Tanya has done up until this point is going to waste. Her career, her hard work, all the extra overtime, all those cases where she went above and beyond the call of duty-it's all going to disappear in the ether.

Though she isn't here by choice, Tanya has always fulfilled her duties with her future in mind.

And look at where that got me! What reason or need could there possibly be for ordinary people to accept a fate like this?

It's impossible.

I've done more than her fair share to keep this leaky boat afloat. More than enough to earn my spot on a lifeboat out of here.

I just need a connection to the outside.

Where are the recruiters in this world?

I want to get out of this insane world as soon as possible. It's time to find a way to defect.

On the car ride back, I push the little package I brought with me from the west onto the man sitting next to me. General Romel's plan, to be more precise.

I was prepared for the worst, but what happened was completely unexpected. Evidently, the man charged with defending the western front had the complete trust of the bigwigs. Personally, I had high hopes that the plan would get shot down.

... Not only was it passed, but it was done with full backing. It wasn't just any old superior who spoke in support of the plan, either. It was the General Staff Office's very own Colonel Lergen. He was an extremely powerful backer when it came to obtaining consent from the higher-ups.

I'm fairly well versed when it comes to working the lower rungs of military administration and various middle managers. I've done it many times before when I fought for supplies, railway allocations, and struck hard bargains with quartermasters. For a soldier who stands on the battlefield, it's all in a day's work.

Convincing upper management, however... That's a different story. The weight of personal connections and experience plays a much bigger part here. This is something that Colonel Lergen is an expert at. Immediately after I finished reading him the documents on our car ride back, we were able to clear the process in one fell swoop.

What would've been a monumental task for Tanya to handle alone... was stamped and ready to go by the next day, thanks to Colonel Lergen.

He's a man who's capable of getting both the army and navy to agree on and approve such a reckless plan. His ability to navigate the system is frankly unbelievable. The colonel knows exactly what buttons to press to make things happen. That's how the paperwork was wrapped up in the blink of an eye. It may seem simple at a glance, but anyone who's ever worked with a government office knows that this is nothing short of a miracle.

After that hurdle was cleared, events transpired so quickly that it actually threw a wrench in my original plan to gather information on the fabled Plan B under the pretext of doing so for the sake of General Romel's proposal.

As much as I wanted to do some digging, there was absolutely no time.

Colonel Lergen immediately asked for various details about the condition of the western front like the weather, the state of the water, and the units stationed there. Once all the information was squared up, we presented the proposal to Lieutenant General Rudersdorf, who gave his stamp of approval on the spot.

Mind you, Tanya won't get compensated for any of this. Some office coffee is all there is to look forward to. Talk about unpaid overtime. After finishing the proposal, the only information I gleaned about Plan B was that it wasn't going to start anytime soon and that I should continue monitoring the situation. Absolutely nothing concrete.

All I could get out of Colonel Lergen was that he was hashing out a plan with the Foreign Office.

That's great and all, but I can't help but sigh loudly on the inside.

I wish he'd consider the burden placed on the frontline troops. In light of this, no one can blame me for letting out a complaint or two. My superiors' collective optimism is the ultimate source of the swears and curses streaming from my mouth as I roam the halls of the General Staff Office.

This is so absurd.

"Part of me wants to hope that it all ends in disaster, but that wouldn't be good for me, either."

I shake my head and try to calm down by taking a deep breath in the hallway.

Fresh air is just what an overheated mind needs. Grumbling is good and all, but if I don't want to spontaneously combust, I need to remember to breathe no matter how heated I get.

That said, this is absolutely a crisis.

But for what it's worth, there is still a bit of time before the situation becomes unsalvageable.

Using the Titanic as an example, it's like we've just hit the iceberg and are starting to sink. The ship will eventually go down. We might be starting to list toone side, but we're mostly level for the moment. The rest of the passengers aren't sure what to do and are hesitating-I need to run for the lifeboat while I still can.

I have a little bit of time; not many people have thought about heading for the lifeboats yet.

There's still one thing I need to decide before making my escape, though... How exactly am I going to jump into a lifeboat? The next couple steps need to be taken with the utmost caution. Contacting someone abroad during a war could be like poking a beehive with a stick. I'll need to prepare a nice gift if I want to survive the initial greeting.

Look no further than defectors who succeeded in my old world.

The fact that they've gone down in history at all means they had something valuable to trade for their lives. I'm going to need to figure out the rules of defection and go about it intelligently if I don't want to end up in a shallow grave.

It's not too different from a career change. Everything has to be done right unless you want to be stuck unemployed, forever looking for your next job.

The most important decision I need to make right now is figuring out what my chosen asylum country wants most. If possible, it'd be best to keep Tanya's reputation intact. It would be terrible optics if people interpret her leaving as abandoning her soldiers...

More importantly, I'm going to have to hit the ground running if I want to join a new employer as a mid-career hire. Having the right credentials is just the bare minimum. No matter where I end up, I need to ascertain my new employer's standards and change tack in a way that puts me in the best light possible.

It also doesn't help that job hunting is like wearing two pairs of sandals at once... I still need to maintain my foothold in the Empire while doing all this.

It's a simple concept, but people who look for jobs with only their own interests in mind never get the best positions. You're not going to find a job that both pays well and is stable from the very start.

The worst possible outcome would be being labeled a traitor.

Take industrial espionage, for example. Anyone who betrays their company is bound to be heaved overboard with great abandon wherever they go next. People who have the capacity to stab their first employer in the back won't be trusted by their next one.

Tanya's resignation needs to be on amicable terms, and her transfer needs to be smooth-or as we say in Japan, Don't wreck the nest as you leave it.

This is how you change your job in an ever-changing society.

It'll be difficult-that's for sure.

Ideally, I'll be playing a major role in overcoming the dire circumstances of my current posting. There isn't a great chance I'll be able to pull this off without a hitch, so I'd like some insurance. Even if it's a fixed-term plan, insurance is still insurance.

## AUGUST 14, UNIFIED YEAR 1927, WESTERN COMMAND CENTER FOR THE IMPERIAL ARMY

As soon as I enter the office, its owner is already sizing me up. Those eyes are demanding a report. I start with the requisite formalities.

"I've returned, General Romel."

"Welcome back, Colonel. Did you get any information on Plan B from the General Staff Office?"

He cuts straight to the point. Without offering so much as a thankyou, General Romel asks about the state of the homeland.

"I didn't get anything worth your time. It looks like they're keeping it under wraps for now."

"So Plan B is being kept as a contingency? Are there other plans in the works?"

I nod before saying, "Counselor Conrad from the Foreign Office is making a move. It looks like their days of stealing a government paycheck have come to an end as our diplomatic corps begin to mobilize."

"They're too damn late. They should've started working three years ago. We've lost far too much time already." There's a strong tone of resentment in his words. "... Just how many had to die because of their do-nothing policy."

The general is right, for the most part. The Foreign Office's idle approach to foreign policy can be directly tied to a staggering number of deaths.

I even feel compelled to add, "If we're being honest, even three years ago wouldn't have been fast enough. We needed to kick them into high gear back in Norden. Had we done so, we could have shaved a digit or two off the death toll."

"... So you think starting the war at all was a mistake."

"I don't like the idea of disparaging my predecessors... but it is a fact that the Empire has put too much stock in its military."

A quick read through a history textbook is enough to know that, at its onset, diplomacy and military action went hand in hand for the Empire. But today, the Imperial Army and the Empire's diplomats have grown into separate heads. Was it negligent of our predecessors to not formally institutionalize cooperation between them?

Of course not.

High performers tend to make simple errors in calculation due to their inability to predict the incompetence of others.

"I'd wager that the founders of the Empire never dreamed in a million years that their progeny would be this incompetent. They'd most likely laugh in your face if you told them the soldiers on the war front aren't coordinating with planners back in the homeland."

"You're not wrong, Colonel." The general takes out some military tobacco and begins to smoke. I want to ask him to stop but can't for obvious reasons, and it pains me.

All I can do is stew in the secondhand smoke.

General Romel lets out a sigh mixed together with a puff of smoke before he speaks up again.

"Well, that's why it's our job to show the world where the Empire stands."

"So that we don't embarrass our predecessors? As one of their disappointing grandchildren, I only hope my shoulders can help carry the burden."

"Fear not, Colonel. You of all people will be able to shoulder it."

He hands over a folder labeled with a simple title.

"Operation Door Knocker?"

I flip through the packet of papers that have the words top secret stamped on the top-right corner of every page. It details every aspect of the upcoming operation. This isn't the first time I've laid eyes on a secret document, but for me to be able to read all this... it's an honor. Though it would've been nice if I had a chance to read through it before everything was already set in stone.

"Two battlecruisers, three light cruisers, and three assault destroyers packed with marines."

As I finish reading the summary, I comment on the forces allocated for the operation with a doubtful expression. Prioritizing speed to capitalize on the surprise aspect of the plan is a good choice. Still, it begs the question: Why do we need surface ships?

"Sir, if the whole point is to move with the element of surprise... I feel like it would be more prudent to send in commandos from a submarine."

That way, our forces would be able to sidle up to the Commonwealth mainland with submarines and slip in undetected. To put it simply, it would be a proper sneak attack. It would also more than accomplish the goal of striking the enemy right in their homeland.

My ultimate goal is to mitigate any unnecessary risk the proposal might pose to me personally, but General Romel barks a boisterous laugh.

"There are political reasons for this strategy, Colonel."

"So these politics supersede the necessity for superior tactics? Even so... I think there's still precedence to attack from the sea."

Correct, her superior nods.

"We're going to pierce those wooden walls of theirs. An attack from the sea is what we need, but it has to come from above the water. Our underwater assaults just don't strike fear into their hearts."

The general isn't wrong.

If that's what we're after, then I see how an attack executed by a high-speed assault squadron would have the best chance of pulling it off. It doesn't change the fact that this mission is going to come with a lot of risk. Even the fastest ships are slow compared to anything that can fly.

There's also the need to weigh anchor when disembarking soldiers. The whole time they're conducting amphibious operations, the ships will have to remain stationary, no matter how fast they can move on the go.

Though... it appears the general has already thought of a way to mitigate that disadvantage.

There's a word in the plan that I've never seen before-an assault destroyer. It says here the ships will steam at thirty knots directly onto enemy shores before unloading landing parties? It sounds like we took a page out of the Commonwealth's book.

"We'll scuttle the destroyers if it comes to that. I'm sure the navy won't be happy about it, but what needs to be done needs to be done."

"We're going in on the assumption that we won't be taking all our ships home?"

The general's comment is shocking. And yet, the general said it so casually... The navy would have a fit if they heard him say this.

Though a difficult notion for me to swallow, it shows the conviction General Romel has in the plan.

He knows there's no going back.

"Necessity demands it. We need to physically get our soldiers onto Commonwealth shores."

"What if we used aerial mages to provide air support? It would help split up the enemy's focus, increasing our chances of victory."

"That would be a good idea if we're thinking in purely military terms. It's not something in the cards this time, though. We need to defeat their navy with ours and show them that the sea isn't theirs alone. If we use mages, it will dilute the impact of a purely naval victory."

"So we need to rely mainly on ships? Would keeping the theater of operations overseas not serve the same purpose?"

General Romel gives a deep, silent nod before he answers.

"We have to decimate the Commonwealth's confidence that they have in their navy before we can start diplomatic negotiations with them. Their faith in their prowess at sea currently knows no bounds. We need to show them where those bounds really lie."

"So our aim is to destroy their maritime confidence? Strangely enough, it sounds quite rousing when you put it that way."

Though not in the same vein as my ongoing battle with Being X... it's human nature for people to try and find purpose in the meaningless work they're required to do.

Work is work, but you get more out of it if you enjoy what you're doing. This assumes you're getting paid properly, of course. no one wants to work for free. That said, people are generally more eager to do jobs they enjoy. Forward thinking and positivity produce innovation.

I clap my hands.

"Now would be a great time to break out our heavy siege artillery. Instead of knocking on their wooden walls, wouldn't it be better if we just blew them to smithereens?"

"We don't have what it takes to crack them open. If the most we can do is knock, then it's best we do it properly."

"That's incredibly unfortunate. I was hoping we could bring along a few longrange railway guns."

It would have been spectacular. The commandos would've made landfall with naval support at the same time the high-caliber artillery rounds did. No amount of censorship would be enough to keep the news from spreading far and wide in the Commonwealth.

"When it comes to maritime warfare, we only get one chance. I hope that you aren't thinking about holding back now, of all times, sir."

"My wallet is empty. I could turn it upside down, but all that would fall out is receipts."

"Even so, we'll need to knock as many aircraft out of the sky as we can... Our ships will be sitting ducks without air support, even if it is limited."

Those who control the skies control the war. At the very least, this theory has been proven true time and time again during the course of the current war.

Even the mightiest ships don't amount to much more than floating targets to the air force. Take a look at the history of the Pacific War. Without air cover, battlecruisers aren't going anywhere besides the bottom of the ocean.

That's why I have to doubt my ears.

"-Sorry, but it's not going to happen."

"What?"

"The best we can do is deploy units who have experience with setting up anti-air defences. Air assets have long since been diverted to support other campaigns far from home. Even our most prized squadrons are in the process of being reorganized."

The Empire is the world's strongest military superpower. And yet, the Western Army Group can't get what it needs to fight at full strength?

I've been sighing more and more recently, but for once, I have to speak my mind.

"If that's the case, General, then the premise doesn't stand."

If we're going to attack by sea, then it's imperative to ensure the skies are safe. The two battlecruisers and three light cruisers are going to need serious air cover. Even if the operation is conducted under the cover of darkness, we need to take care of enemy night patrols at the bare minimum.

"If possible, I'd like to at least aim for limited air superiority. If this is a problem, then we should at least cover the choke points. Anything else would only result in the total loss of important warships."

"You're right, Colonel, and that's why I'm counting on you."

"... What?"

"Lieutenant Colonel Degurechaff... You and your battalion should be able to achieve limited air superiority over those key points. You only have to hold these points for the night. I'm counting on you."

There it is. Tanya's orders. He seems serious, too.

First General Zettour, now General Romel... The Imperial Army leadership really knows how to work their soldiers to the bone.

"General, my unit is only a battalion. Not a regiment or a brigade."

"The enemy's night patrol isn't that large. While they'll have the numbers advantage, I'm sure you can secure our safety for a few hours."

"Are you saying our battalion will be able to pull it off alone?"

I say this in an attempt to point out that it would be too difficult a task for them. However...

"... Colonel, if you and your battalion can't pull this off, then no one in the Empire can. I'm putting my trust into the 203rd Aerial Mage Battalion."

Well, shit.

While I curse on the inside, I respond with a perfect smile, a gracious compliment, and an excellent salute.

"If those are your orders, sir, then I shall see to it they're carried out."

## 0100 HOURS AUGUST 17, UNIFIED YEAR 1927, 203RD AERIAL MAGE BATTALION ENCAMPMENT

The battalion received word that they were shipping out. Frankly speaking, it's business as usual for the troops. Whenever someone wanted something done, they inevitably came to the 203rd.

After they finish lining up perfectly, I address them.

"Attention!"

The entire battalion snaps to attention the moment they hear. The way they can respond at the drop of a hat is a testament to their excellence as a part of the war machine. These soldiers are the cream of the crop that I raised by my hand.

They'd be able to make it through this unreasonable mission. I know that there isn't anyone in the business better than my battalion. They're tough as nails, and I'm proud of them.

"Here we are, back on the western front. The last time we flew these skies, we scored a big victory in Operation Revolving Door. Today, my comrades, we're about to embark for the homeland of the Commonwealth, an enemy that has been a thorn in our side in the skies from time to time."

We're about to attack a land we've visited before. It's time for us to say hello to the Commonwealth again. Of course, we're mages. We need boots on the ground, and mages can't hold territory. We aren't foot soldiers, after all.

That's why... we need to bring the foot soldiers with us.

I know how difficult a task this will be, so I'll do everything in my power to try and inspire the troops.

"Why?"

I stare out at my subordinates, looking at the faces of each and everyone of them as I continue with the patriotic and passionate speech.

"Why? Why are we here?"

The General Staff Office always prefers going on the attack and the 203rd Aerial Mage Battalion is their ace in the hole. To say each of these elites is enough to match a thousand soldiers might be an overstatement, but they can certainly take out a company of nobodies.

Now it's time to tell them their mission, roles, and objective.

"The answer to this is simple. We're here to win. We're here to dominate the skies with our power alone."

Defeat may be bitter, but victory is ever so sweet.

Unfortunately, the Empire that employs them has a chronic case of insufficient funds. It doesn't have the money needed to put toward its victory. To my great annoyance, I'm beginning to get used to working under such dismal circumstances. It's incredible what war can do to a person.

While it's something to be feared, I also need my soldiers to maintain their calm.

"Comrades, the enemy will probably laugh when they see us. Look at how few of them there are, they'll say. And they'll be right. We are but a lone mage battalion. We're reinforcements. If they laugh, we may as well congratulate them on their ability to do basic math."

That was just the truth. Our enemies are going to have the advantage. I'm simply trying to be up front. It's imperative to objectively lay out the circumstances so my subordinates fully understand the situation.

Once they know what they're getting into, I'll let them in on the fact I do have a plan. Though this doesn't address the meat of the problem, it's justified by my need to keep morale up.

Necessity is like an iron fist of its own-it dictates all.

"You are the members of my battalion. I believe you're elites who have been forged with blood and iron. We're on a different level than mages still in their diapers. This is why we're called to the battlefield."

I'll instill a strong sense of purpose in them.

Willpower is a convenient thing. It allows people to cover their eyes when they're left with no other options and put away their convictions with their inability. For fuck's sake... It's important to never lose a sense of self-loathing. Losing the ability to tell when something is wrong is the path to true incompetence.

So, without giving them any time to do so, I jump right to our objective for the coming mission.

"I'll give you a summary of the operation we'll be performing over the next two weeks."

As this is a briefing for the whole battalion, and due to the secretive nature of the operation, better to keep the explanation short and simple. That said, they should get the gist of things as they've been at this for quite a while now.

"We'll start with recon-in-force. Each squadron will split up and infiltrate the Commonwealth under cover of night. The goal is to test the enemy's nighttime anti-air defences."

It's going to be a sort of stress test-a reconnaissance-in-force mission to find the enemy's weak points. It's not something veteran mages would consider particularly dangerous.

Relieved to see a look of confidence in my subordinates' eyes, I mention another detail.

"We'll simultaneously be conducting counterintelligence with 'rotten eggs.' Should you fall into enemy hands, you'll give them a story about rotten eggs."

I can feel a glance coming from my first officer. He takes the initiative to ask the question on the rest of the battalion's minds.

"I have a question about these rotten eggs, ma'am. What kind of script will we be using?"

"Good question, Major Weiss. To put it simply, we're going to make it look like the main goal of our attacks is to harass their night patrol. In response to this, the enemy will hopefully pull some of their troops away from the Western Air Battle to fortify the defensive line on their home front."

They'll need more troops to help defend against aerial mages who attack at night.

Just like the plan says.

"As a result, rotten eggs will likely weaken their air campaign against the Empire. We need them to think that's our plan."

The Empire is going to trick the Commonwealth into thinking they're trying to force troops off from the front lines.

"This is the script we'll be following for the entire two weeks. We'll conduct nightly operations, and once we've established air superiority somewhere along their defensive line, we'll enter phase two."

My subordinate flashes a grin as he suppresses a laugh. I quickly wave a hand to let them know I won't be taking any more questions.

"The specifics will be announced at a later date. Let's show them what we're made of."

After the troops are dismissed, I notice a group of officers approaching me. The group, headed by Major Weiss, includes the lieutenants and other officers. First Lieutenant Serebryakov is among them; this should make things easy. I already have an idea of what Major Weiss wants to know.

"Are you working overtime, Major? How diligent of you."

"There's something I wanted to ask... Can I have some of your time?"

Though he asks his question politely, his expression is very intense.

"Enthusiasm is admirable. Is it about the second phase?"

"Yes. What do the higher-ups... have in mind?"

I nod in approval.

"I'll tell everyone who's here."

While paying special attention to my surroundings, I cut right to the heart of the matter.

"... The plan is for the navy and the army to work together and storm the shores of the Commonwealth before day breaks."

"We're going to conduct a surprise invasion of the Commonwealth?!"

"Keep it down." I glare at him with a sharp look before continuing. To be clear, I do get a good laugh out of it on the inside.

I can tell by the shock on my subordinates' faces that this plan will work.

Forget Major Weiss-even Visha can't hide her surprise. So not even these war hounds saw this coming... I can't wait to see the faces our enemies are going to make.

The Empire is going to shake the Commonwealth to its core when those leather boots hit the ground. Our objective is purely political. I get it now. This ploy seemed reckless and pointless on the surface, but apparently there's more to General Romel's plan than meets the eye.

Bringing the war to the Commonwealth homeland will have a profound effect on how its citizens perceive the Empire as a threat.

"What's wrong, comrades? You look like pigeons that just got shot by a kid with a popgun."

My first officer responds to my joke with a doubtful expression.

"It's just... such a bold move."

"How can you win a war without being bold?"

My astonished adjutant also decides to chime in.

"I... never thought war could be fought like this."

Well, this is surprising. I expected Major Weiss and the others would respond like this, but Visha's response catches me off guard. You all do realize that this is total war, right?

"If they think they're safe on that little island of theirs, wouldn't correcting their little mistake be the humane thing for us to do?"

"Lieutenant Serebryakov? Is there something else you'd like to say?"

I give my adjutant a look, but she quiets down. What was she going to say? I regard the line of officers with confusion. Why is there so much tension on all their faces?

This is quite troubling. Communication is important, after all.

"This is total war, comrades. We can't discriminate."

"... Is this a question of discrimination?"

Though timid, my adjutant poses a legitimate question that causes my expression to twist up-well, on the inside at least.

That's right! They don't know about human rights! I can't believe they haven't learned anything about discrimination!

Evidently, coming from another world makes me fundamentally different from those born only to this world. My shoulders slump a bit, and I decide to change the subject. It's important to respect the culture and customs of the world I find myself in.

"Back to the original question... This is a commando mission where we'll be storming the enemy's beaches. It will be an extremely precarious and risky operation. Our job is to protect the commandos, but I also want you to study the enemy."

I give them a stern look to confirm whether they understand, and my officers give their affirmatives. To my surprise, the air of uncertainty has all but cleared with this simple comment.

Not only that, but my first officer also comes forward with a constructive proposal.

"Shall I collect information from Meybert and Tospan?"

The mere mention of military affairs, and she brings them up. My subordinates' areas of expertise are still extremely specialized. To my chagrin, however, it isn't a bad idea. The two of them are experienced with harbours now, after all. Seeing as how their ability to protect one of the Empire's ports was tested under fire, they may have some useful insights.

"Good idea. But stay vigilant."

"Colonel? By vigilant, you mean...?"

"Don't use your radios. No matter what. If you need to send a message, use anything but your radio. I need you to keep this mission top secret. If you must, set a meeting and gather the entire Kampfgruppe's officers. This goes for everyone."

While I agree with seeking advice from specialists, I also make sure to stress the importance of secrecy.

If Weiss is going to speak with those two, they need to make it look like a meeting for the Kampfgruppe.

"Should I call Captain Ahrens as well?"

"Of course you should, XO. By everybody, I mean everybody."

"But he's..."

I already know what he's going to say and cut Weiss off. Ahrens is of course currently off having fun rebuilding the Kampfgruppe's tank unit back in the homeland.

I'm going to need to prepare for the captain to hold a grudge against me for pulling him away from his enviable life on the training grounds. But it needs to be done.

"The enemy resistance is always watching and listening in on everything we say. They keep track of every time we move and what units we send where. You can never be too cautious when it comes to things like this. First Lieutenant Serebryakov, I'll allow you to buy some wine with battalion funds. Hold a small party for the Kampfgruppe."

"Are you sure it's okay for us to do that?"

I give her a firm nod.

"Just make sure nothing leaves the party. We need to be vigilant with how we proceed from here on out."

"Understood."

Excellent. I cross my arms as I turn to my deputy.

"You heard that, right? Don't screw this up. We're throwing a party, got it?"

Major Weiss offers a vague nod. How much of this is he following? He may be a serious officer with a good head on his shoulders, but he's also a bloodthirsty war hound.

"Major Weiss, is the western front too peaceful for you? This is effectively one of our territories now."

"With all due respect, ma'am... it doesn't feel that way."

"In that case, feel free to act as if this were the eastern front. Understood?"

The major gives me a look that makes it clear something's finally clicked for him, and inner Tanya lets out a wry laugh. This is what he knows best! Seeing it is worth more than a million words. These soldiers have been living with war for too long.

After giving their salutes, my troops take their leave. Once I return to my own room, the grumbling begins.

"What am I even doing here?"

I'm about to take on the unreasonable challenges thrown down by the military like some kind of ardent patriot. It is a worthless act in the most literal sense.

The Empire is doomed, and I want nothing more than to get out of here.

Nothing more, nothing less. And yet, here I am, bound by the shackles of my position and sense of duty, unable to set myself free.

If the market wasn't such an absolute mess, I could promote myself as valuable human capital to other employers at a fair price! Damn that Being X to hell. That's the cause of all this.

If it weren't for that bastard, I could have lived a life with basic human rights!

"I want happiness. I want to live a life with bare-minimum cultural standards."

What's more, I don't want to have to stay aboard a sinking ship. The fate of a sunken ship is a miserable one. There isn't a great chance of escape once the vessel has capsized. I want to get off this boat as soon as possible. As much as I want to, though, not only is going on a job hunt virtually impossible but I'm about to attack a potential employer.

Of course, it's only out of obligation to my current job.

Nevertheless, the fact of the matter is that I can't deny that I've grown very subjective to the whole thing. If this is out of necessity, then why is Tanya now a slave to necessity?

"War... What an insane enterprise."

How could anyone stomach this massive waste of money?

Never mind the fact that it's completely derailed my career plan.

Tanya von Degurechaff is a firm believer that every human being should have the right to the pursuit of happiness. It's self-evident. It's one of our naturalborn rights.

"Damn that Being X. How can he call himself a god when he doesn't even know this?"

Thus, a logical inconsistency is born.

I can't let anyone get in the way of my happiness.

I shouldn't have to let them, and it would be completely irrational to do so.

"If they're wrong, I simply need to correct them."

I need to win.

For a bit of peace, for a humble future, and for my own career.

And I need to do it as a human being.

## THE SAME DAY, IN THE SKIES ABOVE THE CHANNEL

That night, the troops in charge of patrolling the channel were completely abandoned by Lady Luck.

They were outstanding soldiers.

Outstanding, yes-but from another perspective, they could be considered slaves to their skills.

Had the outcome of the Western Air Battle tilted in favor of the Commonwealth, their countermeasures for the sporadic appearances of the Empire's reconnaissance aircraft and harassment night bombing would have fallen into the category of high-stress routine work -a sort of oxymoron.

It was the same old thing every day, where they balanced a level of caution with relaxing their nerves.

Unfortunately for the air defense department, this rhythm was thrown awry when a ferociously violent change caught them unawares.

One of the survivors from that night would live to tell their tale.

A tale about a ghost who descended upon the channel.

"Fairy 01 to all units. Commence attack."

The simple orders given in standard imperial dialect fade away into the night sky shortly before a horde of monsters made their appearance.

The first one to pick up on their presence was a man at air traffic control. The Commonwealth air traffic controllers who were on watch that night pried their sleepy eyes wide open when their machines detected an immense magical signal.

It had been some time since they'd seen anything like this. But not so long that they forgot what it meant: The enemy was here.

There was no time to put the kettle on. Instead, they were now running on pure adrenaline. The people stationed at the southern interception control area were met by a sight they could have never imagined.

"The mana signals are rapidly increasing! What the hell?! They aren't even hiding it?"

Despite attacking at night, the enemy had lit themselves up like beacons. It completely went against the norm of aerial mage doctrine to always stay hidden.

Though it was strange beyond belief, one thing was still certain-they were enemies. The Commonwealth soldiers knew what that meant. It was time to welcome their guests.

"Sound the alarm! Prepare for battle!"

The duty officers moved with great haste.

"Prepare to intercept enemy air units! Get the quick response team ready, ASAP! Contact the other units as well! Get the reserves up in the air, too! We're throwing everything at 'em!"

If the enemy was going to waltz into their front yard, the Commonwealth troops would use all available resources to crush them.

As alarms blared, all aerial mages on duty were ordered to take to the skies. For good measure, they also scrambled their reserve units. They woke up the Third Regiment as well and lined them up on the runway, ready to deploy at any time just in case.

As the officers in charge began to feel a sense of relief in their seemingly overwhelming response as well as a tinge of excitement at the idea of performing well, a scream could be heard shattering the night.

"What the-?! It's that monster!"

The person in charge of checking the enemy's mana signal had positively identified the enemy and shouted in dismay.

When the chief air traffic controller turned to see the results, the first thing he noticed was the terrified, colourless face of the operator.

"According to our database... it's the D-Devil of the Rhine!"

"The Devil of the Rhine?"

They didn't know if they were lucky or unlucky. While those in the control room who'd yet to directly encounter the Named mage could only stare at the chief air traffic controller, he and the other duty officers practically kicked their chairs over in unison as they rushed to their radios.

"Warning! Warning! Emergency alert to all units in the AO!"

There was a chill running down their collective spines. The chill was like a polite sign that they were about to be visited by the grim reaper. They needed to be on their toes, or a lot of people were about to die.

"Identity of incoming hostiles confirmed! It's the Devil of the Rhine! I repeat, it's the Devil of the Rhine! We've got Named mages! One of the deadliest Named units is heading our way!"

The man frantically shouted into his radio. He sent out his message across the airwaves, but it was already too late. The screams of the air patrol were already ringing out in the black sky.

"Intercept control, intercept control! We need reinforcements! We need them now! Shit! Our formation leader..."

"One company of aerial mages is trying to force their way through! They've downed everyone they've come into contact with so far! They're Named! We can't hold them off!"

"Commander down! Commander do-"

It was chaos.

To say the channel was thrown into turmoil that night would be putting it lightly. Even in the control room-where things were generally kept calm and professional as a rule-spittle flew through the air as the commanding officer shouted his orders into the maelstrom of confusion. This kind of thing never happened. Something strange was going on. Everyone there knew it-they couldn't handle what had come.

"Two aerial mage companies have been dispatched... Engaging the enemy... They're engaged?! Already?!"

"Both squads Argyle and Carbene have made unexpected contact with the enemy! Shifting to battle mode!"

"Quick response team two has finished mobilization on the ground."

The officer received glances of doubt but didn't hesitate even for a moment.

"Shit! It's going to be a long night! Call up all the reinforcements we have! Including the reserves!"

Their orders were to mount a full-scale counterattack.

We need to stop them. Just when the command center was regaining its calm, it received another report.

"Warning! New Imperial Army air units sighted in air zone twelve! And also sixteen! They're all Named?!"

Impossible. Several people uttered the same phrase. It wasn't just the battalion headed by the Devil of the Rhine. Multiple Named units from the Rhine front had appeared.

It was like they were at the Rhine Air Battle. No, the living hell that was the Rhine campaign had come back to haunt them.

"Emergency alert to integrated control center! Multiple powerful imperial air units closing fast! Damn those imperial dogs! Do they want a second Rhine?!"

The duty officers did everything they could to ascertain the situation despite all the confusion. The ones in charge of the southern interception control area sent updates to command while they gathered as much information as they could.

"Calm yourselves! Prepare for electronic warfare! Find their guidance signals. The Empire should be providing navigation support electronically. Find their signals! That should give us an idea of what they're after."

"...? It's not working... I'm not picking up anything."

"Don't fall for their dummies. Just narrow down the potential sources."

"Th-that's not the problem. There are no signals coming from line control..."

"What do you mean there are no signals? Are they using some sort of new technology?!"

More bad news? The officers collectively rubbed their temples... Bad news had a way of coming all at once.

"Th-the enemies fighting Argyle have taken out their commanding officer! Carbene's commander is also requesting immediate reinforcements!"

"What? Damn it all to hell! Get the rest of the quick response teams ready! I want anyone who can fly in the sky right now!"

"A-Argyle's been wiped out! It's just been confirmed! Carbene's reporting that Argyle has been annihilated!"

It'd only been a few minutes, and their elite quick response force had already been taken out. It was like taking a bite out of a sour apple. The officer in charge couldn't control himself as he shouted out:

"How could it be over that quickly?! They only just made contact!"

He thought he knew. No, he did know. He didn't want to forget the Devil of the Rhine. The nightmare the François Republic saw was no fantasy.

They knew that monster was real, and this was why they were prepared to hit the invaders with everything available.

But why? Why was it turning out this way?

These were the best of the best they had for night air defense. Why couldn't they stop the enemy? How were they able to tear apart their defences with such ease?

"Hostile mages have penetrated air zone twelve! Whiskey Battalion is on their way to intercept line two."

"The enemies in air zone twelve are turning around!"

"What?! No! They're trying to regroup with the enemies in zone sixteen! Damn it, their target must be... Whiskey?!"

The officers moved as quickly as humanly possible.

"Alert, Whiskey Battalion! The enemy mages are regrouping and heading straight for your position!"

The man prayed that they'd be able to avoid the danger as he sent the warning across the airwaves. At the same time, a different Commonwealth battalion did their duty to protect their country.

"Scotch Battalion is taking off to meet up with Whiskey Battalion! ETA, four hundred seconds! No, they're moving faster! They'll be there in 360!"

"They're pushing their limits. But that's what we need right now. It'll be close... but it looks like the reinforcements will make it in time."

Walking on a tightrope like this was incredibly draining.

As of late, the Commonwealth enjoyed the upper hand in the war, so things hadn't gotten this hectic for a long while now. It seemed war was a monster that could never be trusted.

What a terrible thing it was.

That was as true for an officer as it was for anyone else. The air traffic controllers could hear the endless mix of screams and harried reports coming in over the radio. They'd probably need to drink themselves to sleep for the rest of their lives.

"Damn it, it's been a long while since we've seen anything like this..."

Agonizing messages about shorn arms, dead friends, and comrades bursting into flames came flying in, all cutting off with bloodcurdling screams.

All the radio operators could do was sit and listen. It had an immense impact on their minds. Even so, they needed to listen. Cursing the stroke of fate that had saddled them with watch duty on this of all nights, they continued listening to and reporting the messages they never wanted to hear.

Suppressing the collective nausea permeating the control room, they each pushed thoughts of their comrades who likely wouldn't return out of their minds and latched onto their transceivers.

They didn't know if it would be worth the sacrifice. That was exactly why they didn't want to miss a single message.

"Warning! Warning! It can't be?! Emergency report from Scotch Battalion! Ththey've encountered aerial mages who snuck past our perimeter at low altitude!"

This warning to southern interception control, unfortunately, wouldn't make it in time.

"What?! The enemy! The enemy!"

"The enemy what?!"

In response to the horrified voice, there was a request for details, but their comrades on the other end were out of time.

"They're here! The enemy is here!"

The command center's operators shouted into their radios, asking for a status update. These would be the last messages that came through that night-the last messages southern interception control would ever receive.

Static filled the airwaves before a large explosion rang out. Then everything went silent.

For the Commonwealth mages in the sky that night, it was more than evident what this meant.

They got southern interception control.

They listened closely to their radios for their next orders but picked up something else.

"Veni, vidi, vici."

It was a victory message.

No, it was more like they were boasting. The imperial mages shared this terrible joke on all frequencies.

"I came, I saw, I conquered...? Bollocks!"

As angry as they were, the soldiers knew that the night wasn't over yet.

"Scotch Leader to integrated control center. Emergency. It's urgent! Southern interception control has been taken out! I say again, southern interception control has been taken out!"

The man shouting this had seen the terrors of the Rhine front firsthand.

Wreak havoc, spread chaos, and eventually cause a total collapse.

This was the Empire's way of doing things. He and anyone else who saw them operate knew this all too well. These men had trained hard to make sure it never happened on their turf.

And yet, despite their best efforts, these were the miserable results. What the hell was happening?

"They're coming for us. This is bad... Those imperial bastards were quiet for a time, but it looks like they're back in action!"

"Commander! We're ready for battle!"

"We're not going to let them have their way any longer!"

With their weapons armed and ready, Scotch Leader's battalion was prepared to jump in the fray. He was proud of how capable his troops were.

Though he also found himself questioning whether his unit's bullets would ever strike home.

The enemy was the Imperial Army's meat grinder that first appeared on the Rhine front. They were supposed to somehow fight monsters that had been racking up kills ever since. The battalion leader directed every swear in the Commonwealth dictionary at God in heaven for this cursed fate.

His doubts and fears, however, would never be tested that night.

"Wha-?! They're retreating?!"

To everyone's surprise, the enemies began withdrawing from the southern interception control center after razing it to the ground. In what could only be described as gorgeous maneuvers, the enemy swiftly turned on a dime and rapidly left the area.

"Th-the enemy is retreating?"

The battalion that had been ready to mount a counterattack was left in the dust as the imperial soldiers left them behind.

Time to go after them was the first thought that popped into their collective minds. But anyone who had spent any significant amount of time on the battlefield knew this was the forbidden fruit.

"... Gather the troops! Don't follow them!"

The devil was trying to seduce them.

The only thing that awaited in that direction was living hell.

For the careful soldiers, it was nothing but a pointless risk. And unlike Scotch Leader, the only one who came out lucky that night, ground control came forward with a thoughtless question.

"Integrated control center to all units. Integrated control center to all units. We have confirmation of enemy retreat. Scotch Leader, is pursuit possible?"

"The bloody hell?! You're asking us to chase after them?!"

He promptly rejected the request.

"No can do! Pursuit is impossible. They pulled one over us. We need to land and reorganize before we attempt to attack unless you want us to get annihilated as well!"

Scotch Leader swore and cursed some more before finally landing at a different base. He shook his head and grumbled while being handed a glass of alcohol by the ground personnel.

"They got us... Shit, and this is probably just the beginning!"

