*.mp3
*.mp4
*.pyc
cleanup/**/*.md
md-audio/**/*.md
md_python/**/*.md
mp3ToYT/**/*.md
Library/**/*.md
Library/**/*.txt
Library/**/*.epub
pdf-md/**/*.md
pdf-md/**/*.epub
*.log
*.cue
cleanup/**/*.txt
md-audio/**/*.txt
md_python/**/*.txt
mp3ToYT/**/*.txt
*.jpg
*.png
*.pdf
*.json
.pytest-runs/
.pytest-tmp/
